body{
  color: red;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpKCLUBhiSDk6HXqaLSoInrs1Vih1qfmF8lI_Fk-E0jA&s=10");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
